body {
  background-color: antiquewhite;
  height: 100vh;
}

.toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 50px;
  background-color: green;
  box-shadow: inset 3px 3px 6px black;
  border-radius: 30px;
  position: relative;
  transition: all 0.5s;
}

.toggle:before{
  content: '';
  background: radial-gradient(white, #ccc, #333);
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: all 0.5s;
  /* //slows the moment of the transition */
  z-index: 2; 
}

.toggle:after{
  content: '°C';
  position: absolute;
  font-size: 1rem;
  color: #333;
  font-weight: 700;
  top: 50%;
  left: 50%;

  transform: translate(20%, -50%);
}

/* slider part. check */

.toggle:checked{
  background: red;
}
.toggle:checked::before{
  left: 50%;
}

.toggle:checked:after{
  content: '°F';
  left: 10%;
  color: #fff;
}



.weather-info{
  outline: 1px solid black;
}